body {
   background-color: lightgray; 
   font-family: 'Quicksand', 'Roboto', sans-serif;
}
.calc-container {
    width: 400px;
    height: 600px;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
}
.viewport {
    flex: 2 1 auto;
    background-color: lightgray;
    height: 120px;
    width: 380px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 7px;
    text-align: end;
    line-height: 220px;
    font-size: 100px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex: 1 1 auto;
    height: 60px;
    width: 380px;
    margin-bottom: 10px;
}
.displayButton {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color: darkgray;
    flex: 0 1 auto;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    color: white;
}
.zeroButton {
    width: 176px;
    border-radius: 50px;
}
#divide, #multiply, #subtract, #add, #equals {
    background-color: rgba(255, 166, 0, 0.832);
}